body {
  background-color: #eee;
}

.signin {
  padding-top: 0;
}

.login-form .checkbox {
  font-weight: normal;
}
.login-form .form-control {
  display: block;
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
}

.login-form .input-group-addon {
  width: 40px;
  text-align: center;
}

.login-form .input-group {
  width: 100%;
}

.container.login-form{
  max-width: 400px;
  padding: 32px;
	background-color: #c6ebf1;
	margin-bottom:50px;
}
